# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

**Objectives:**
* open sourced tools for data science 
* application programming interfaces
* the model asset exchange

one of the commonly used libraries used by Data Scientists include:
1. panda 
2. numPY
3. matplotlib
4. tensorflow
5. pytorch

# Data Science Tools
| Tensor flow | R- studios | Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author 
Raphael.